[Unit]
Description=Hyprdocked Listener
After=wayland-session@Hyprland.target

[Service]
ExecStart=/home/danny/go/bin/hyprdocked listen
Restart=on-failure
RestartSec=2

[Install]
WantedBy=wayland-session@Hyprland.target
