[Unit]
Description=Hyprdocked Listener
After=wayland-session@Hyprland.target

[Service]
ExecStart=hyprdocked
Restart=on-failure
RestartSec=2

[Install]
WantedBy=wayland-session@Hyprland.target
